<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    
    <link rel="stylesheet" href="../css/khohang.css">
</head>
<body>
    <div class="container-fluid">
        <div class="bubbles">
            <span style="--i:11;"></span>
            <span style="--i:12;"></span>
            <span style="--i:24;"></span>
            <span style="--i:14;"></span>
            <span style="--i:10;"></span>
            <span style="--i:23;"></span>
            <span style="--i:18;"></span>
            <span style="--i:20;"></span>
            <span style="--i:19;"></span>
            <span style="--i:15;"></span>
            <span style="--i:11;"></span>
            <span style="--i:18;"></span>
            <span style="--i:21;"></span>
            <span style="--i:25;"></span>
            <span style="--i:19;"></span>
            <span style="--i:13;"></span>
            <span style="--i:16;"></span>
            <span style="--i:20;"></span>
            <span style="--i:17;"></span>
            <span style="--i:21;"></span>
            <span style="--i:23;"></span>
            <span style="--i:25;"></span>
            <span style="--i:11;"></span>
            <span style="--i:13;"></span>
            <span style="--i:19;"></span>
            <span style="--i:11;"></span>
            <span style="--i:12;"></span>
            <span style="--i:24;"></span>
            <span style="--i:14;"></span>
            <span style="--i:10;"></span>
            <span style="--i:23;"></span>
            <span style="--i:18;"></span>
            <span style="--i:20;"></span>
            <span style="--i:19;"></span>
            <span style="--i:15;"></span>
            <span style="--i:11;"></span>
            <span style="--i:18;"></span>
            <span style="--i:21;"></span>
            <span style="--i:25;"></span>
            <span style="--i:19;"></span>
            <span style="--i:13;"></span>
            <span style="--i:16;"></span>
            <span style="--i:20;"></span>
            <span style="--i:17;"></span>
            <span style="--i:21;"></span>
            <span style="--i:23;"></span>
            <span style="--i:25;"></span>
            <span style="--i:11;"></span>
            <span style="--i:13;"></span>
            <span style="--i:19;"></span>
        </div>
        
        <div class="row header">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                  <a class="navbar-brand" href="../../index.html">Trang chủ</a>
                  <a class="navbar-brand" href="./sanpham.html">Sản phẩm</a>
                  <a class="navbar-brand" href="#">Liên hệ</a>
                  <a class="navbar-brand" href="#">Kho hàng</a>
            </nav>
        </div>

        <div class="row list">
            <div class="card-button">
                <div id="btn"></div>
                <button class="list_camera toggle-btn">Máy ảnh</button>
                <button class="list_microphone toggle-btn">Tai nghe</button>
            </div>
        </div>

        <div class="row main">
            <div class="main_left">
                <table class="table_main">

                </table>

                <div class="box_chart1">
                    <!-- <iframe width="450" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/1972647/charts/1?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=30&title=Nh%E1%BA%ADp+m%C3%A1y+%E1%BA%A3nh&type=line"></iframe> -->
                </div>
                <div class="box_chart2">
                    <!-- <iframe width="450" height="260" style="border: 1px solid #cccccc;" src="https://thingspeak.com/channels/1972647/charts/1?bgcolor=%23ffffff&color=%23d62020&dynamic=true&results=30&title=Nh%E1%BA%ADp+m%C3%A1y+%E1%BA%A3nh&type=line"></iframe> -->
                </div>
            </div>
        </div>
    </div>
</body>

<script defer src="../controller/khohang.js"></script>
</html>