@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .4);
}   


body {
    min-height: 100vh;
    background: #ff7979;
}

.container-fluid {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.bubbles {
    position: relative;
    display: flex;
    opacity: 0;
}

.bubbles span {
    position: relative;
    width: 30px;
    height: 30px;
    background: #4fc3dc;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #4fc3dc44, 
    0 0 50px #4fc3dc,
    0 0 100px #4fc3dc;
    animation: bubbles 15s linear infinite;
    animation-duration: calc(125s / var(--i));
}

.bubbles span:nth-child(even) {
    background: #ff2d75;
    box-shadow: 0 0 0 10px #ff2d75, 
    0 0 50px #ff2d75,
    0 0 100px #ff2d75;
}

@keyframes bubbles {
    0%
    {
        transform: translateY(100vh) scale(0);
    }
    100%
    {
        transform: translateY(-10vh) scale(1);
    }
}

.header {
    width: 100%;
    height: 4em;
    position: fixed;
    text-align: center;
    background-color: #01040544;
    color: white;
    z-index: 100;
    opacity: 0;
}

.header .navbar {
    margin-top: 1.5em;
}

.header .navbar a {
    position: relative;
    text-decoration: none;
    color: white;
    padding: 0 1em;
    font-size: 18px;
    letter-spacing: 1px;
    padding: 0 10px;
    margin: 0 10px;
}

.header .navbar a::after {
    content: "";
    position: absolute;
    background: #ff3c78;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.header .navbar a:hover::after {
    width: 100%;
}

/* Box */
.box {
    margin-top: 4em;
    position: absolute;
    left: 40%;
    padding: 1em;
}

.box > input {
    /* width: 15em; */
    padding: 5px;
}

.box > button {
    /* width: auto; */
    padding: 5px;
}

/* List */
.list {
    margin-top: 5em;
    position: absolute;
    left: 40%;
    padding: 1em;
    opacity: 0;
}

.list > ul {
    position: relative;
}

.list > ul > li {
    float: left;
    padding: 1em;
    list-style: none;
}

.list > ul > li > a {
    text-decoration: none;
}

/* Main */
.main {
    position: absolute;
    width: 100%;
    margin-top: 10em;
    height: auto;
    opacity: 0;
}

/* Card */

.card {
    float: left;
    text-align: center;
    margin: 0 2px;
    border-radius: 5px;
    background-color: transparent;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .4);
    padding: 5px;
}

.card-button {
    width: 300px;
    margin: 10px auto;
    position: relative;
    border-radius: 30px;
    background: black;
}

.card-text {
    color: black;
    font-size: 17px;
    margin: 10px 0;
}

.toggle-btn {
    padding: 15px 40px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    text-align: center;
    color: white;
    font-weight: 200;
    transition: 0.5s;
}

#btn {
    left: 0;
    top: 0;
    position: absolute;
    width: 150px;
    height: 100%;
    background: #009879;
    border-radius: 30px;
}

/* Scroll */
body::-webkit-scrollbar {
    width: 0;
}

body::-webkit-scrollbar-thumb {
    width: 0;
}

body::-webkit-scrollbar-track {
    width: 0;
}


.card_list_button {
    width: 280px;
    margin: 10px auto;
    position: relative;
    border-radius: 30px;
    background: black;
    transform: translate(-50%,-50%);
    left: 50%;
}

.item-btn {
    padding: 15px 40px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    text-align: center;
    color: white;
    font-weight: 200;
    transition: 0.5s;
}

#btn_list {
    left: 0;
    top: 0;
    position: absolute;
    width: 140px;
    height: 100%;
    background: #009879;
    border-radius: 30px;
}

/* Loading */

.center {
    display: flex; 
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    z-index: 200;
    overflow: hidden;
    transition: 1.5s;
}

.outer {
    height: 200px;
    width: 200px;
    background: linear-gradient(135deg, #ffed07 0%, #fe6a50, #ed00aa 50%, #8900FF 100%);
    border-radius: 50%;
    animation: rotate 2s ease infinite;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

.inner {
    position: absolute;
    width: 190px;
    height: 190px;
    text-align: center;
    line-height: 190px;
    border-radius: 50%;
    background: #ff7979;
}

.inner span {
    font-size: 30px;
    font-weight: 800;
    background: linear-gradient(135deg, #ffed07 0%, #fe6a50, #ed00aa 50%, #8900FF 100%);
    color: black;
    background-size: 300%;
    -webkit-background-clip: text;
}
