@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    min-height: 100vh;
    background: #ff7979;
}

.container-fluid {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.bubbles {
    position: relative;
    display: flex;
    opacity: 0;
}

.bubbles span {
    position: relative;
    width: 30px;
    height: 30px;
    background: #4fc3dc;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #4fc3dc44, 
    0 0 50px #4fc3dc,
    0 0 100px #4fc3dc;
    animation: bubbles 15s linear infinite;
    animation-duration: calc(125s / var(--i));
}

.bubbles span:nth-child(even) {
    background: #ff2d75;
    box-shadow: 0 0 0 10px #ff2d75, 
    0 0 50px #ff2d75,
    0 0 100px #ff2d75;
}

@keyframes bubbles {
    0%
    {
        transform: translateY(100vh) scale(0);
    }
    100%
    {
        transform: translateY(-10vh) scale(1);
    }
}

.header {
    width: 100%;
    height: 4em;
    position: fixed;
    text-align: center;
    background-color: #01040544;
    color: white;
    z-index: 100;
    opacity: 0;
}

.header .navbar {
    margin-top: 1.5em;
}

.header .navbar a {
    position: relative;
    text-decoration: none;
    color: white;
    padding: 0 1em;
    font-size: 18px;
    letter-spacing: 1px;
    padding: 0 10px;
    margin: 0 10px;
}

.header .navbar a::after {
    content: "";
    position: absolute;
    background: #ff3c78;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.header .navbar a:hover::after {
    width: 100%;
}

/* Main */
.main {
    width: 100%;
    height: 100vh;
    padding: 0;
    margin-top: 6em;
}

/* Scroll */
body::-webkit-scrollbar {
    width: 0;
}

body::-webkit-scrollbar-thumb {
    width: 0;
}

body::-webkit-scrollbar-track {
    width: 0;
}

/* Slide */
.slide-container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.image-slider {
    width: 100%;
    height: 60vh;
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .7s;
    opacity: 0;
    margin-top: 2em;
}

.slides-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 30px 0 30px;
}

.img {
    position: relative;
    width: 240px;
    height: 370px;
    transition: .7s;
    filter: saturate(10%);
    object-fit: cover;
    border-radius: 5%;
}

/* img {
    object-fit: cover;
    border-radius: 5%;
} */

.button {
    position: absolute;
    width: 240px;
    height: 370px;
    transition: .7s;
    background-color: rgba(0, 0, 0, .4);
    border-radius: 5%;
    opacity: 1;
}

.intro {
    bottom: -5px;
    position: absolute;
    width: 240px;
    height: 60px;
    padding: 6px;
    box-sizing: border-box;
    background-color: rgba(27, 27, 27, .8);
    color: white;   
    overflow: hidden;
    transition: 0.7s;
    border-radius: 5%;
}

.intro h1 {
    margin: 10px;
    font-size: 20px;
    text-align: center;
}

.intro p {
    font-size: 18px;
    margin: 5px;
    opacity: 0;
}

.intro span {
    font-weight: bold;
}

.button:hover {
    background-color: rgba(0, 0, 0, .2);
}

/* Loading */

.center {
    position: absolute;
    min-height: 100vh;
    z-index: 10;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    transition: 1.5s;
}

.outer {
    height: 200px;
    width: 200px;
    background: linear-gradient(135deg, #ffed07 0%, #fe6a50, #ed00aa 50%, #8900FF 100%);
    border-radius: 50%;
    animation: rotate 2s ease infinite;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

.inner {
    position: absolute;
    width: 190px;
    height: 190px;
    text-align: center;
    line-height: 190px;
    border-radius: 50%;
    background: #ff7979;
}

.inner span {
    font-size: 30px;
    font-weight: 800;
    background: linear-gradient(135deg, #ffed07 0%, #fe6a50, #ed00aa 50%, #8900FF 100%);
    color: black;
    background-size: 300%;
}

/* Loading */

.center {
    display: flex; 
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    z-index: 300;
    overflow: hidden;
    transition: 1.5s;
    position: absolute;
}

.outer {
    height: 200px;
    width: 200px;
    background: linear-gradient(135deg, #ffed07 0%, #fe6a50, #ed00aa 50%, #8900FF 100%);
    border-radius: 50%;
    animation: rotate 2s ease infinite;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

.inner {
    position: absolute;
    width: 190px;
    height: 190px;
    text-align: center;
    line-height: 190px;
    border-radius: 50%;
    background: #ff7979;
}

.inner span {
    font-size: 30px;
    font-weight: 800;
    background: linear-gradient(135deg, #ffed07 0%, #fe6a50, #ed00aa 50%, #8900FF 100%);
    color: black;
    background-size: 300%;
    -webkit-background-clip: text;
}
